@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e9e9e9;
}

header {
  position: fixed;
  background: #2c5668;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 5;
}
.left h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 800;
}
.left span {
  color: #ff7a7a;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  margin-top: 70px;
  padding-top: 30px;
  left: 0;
  background: #39677e;
  transition: 0.5s;
  transition-property: left;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.sidebar .image {
  width: 108px;
  height: 108px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background-color: #daf3ff;
}
.sidebar h2 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}
.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar .center {
  text-align: center;
}

.sidebar a:hover {
  background: #304650;
}
.sidebar ion-icon {
  padding-right: 10px;
}
label #sidebar_btn {
  z-index: 1;
  position: fixed;
  left: 300px;
  color: #fff;
  font-size: 25px;
  margin: 5px 0;
  cursor: pointer;
  transition: 0.5s;
  transition-property: color;
}
label #sidebar_btn:hover {
  color: #51b3ec;
}
#check:checked ~ .sidebar {
  left: -190px;
}
#check:checked ~ .sidebar a span {
  display: none;
}
#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}
.content {
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  /* width: calc(100%  - 250px); */
  position: relative;
  margin-left: 250px;
  top: 69px;
  z-index: 1;
  overflow: hidden;
  /* height: 100vh; */
}
#check:checked ~ .content {
  margin-left: 60px;
}
#check {
  display: none;
}

div#listaRegistros {
  background: white;
  padding: 3rem;
  margin: 50px 30px;
}

#listaRegistros {
  display: none;
}
#cadastroRegistro {
  display: none;
  flex-direction: column;
  gap: 30px;
  background: white;
  margin: 5vh;
  padding: 3rem;
}

body[page="lista"] #listaRegistros {
  display: block;
}
body[page="cadastro"] #cadastroRegistro {
  display: none;
}

/*
        body{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        } */

a {
  text-decoration: none;
}

#listaRegistros .filtro {
  margin: 4vh auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: gainsboro;
}

table th,
table td {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border: solid 1px #ccc;
}

.phone:nth-child(3) {
  width: 9vw;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #07a;
  color: #fff;
  margin: 3px;
  padding: 10px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
button.cinza {
  background-color: #ccc;
  color: #666;
}
button.vermelho {
  background-color: #a00;
}
button:hover {
  opacity: 0.8;
}

button.excluir-btn {
  background-color: #a00;
  padding: 1px 4px;
}

i.edit.material-icons {
  background: #0077aa;
  color: white;
  padding: 1px 4px 7.6px 4px;
  border-radius: 4px;
  margin: 3px;
}

input {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 10px;
}

.label > div {
  display: flex;
}
.label > div > input {
  flex: 1;
  outline-color: #b00b184a;
  font-size: 0.96em;
}

textarea#resposta {
  border: 1px solid #b5b5b5;
  text-indent: 3px;
  outline-color: #b00b184a;
  font-size: 0.96em;
}

.label > div > textarea {
  flex: 1;
}

.label div {
  color: #b00b18;
}

.name_id {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.name_id .label:nth-last-child(1) {
  flex: 1;
}

.titulo_ask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo_ask h1 {
  color: #b00b18;
  font-size: 24px;
}

/*Css para o modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  background-color: #fff; /* Cor de fundo do modal */
  border-radius: 8px; /* Borda arredondada */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.modal {
  transition: opacity 0.5s ease;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
}

.conteudo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grafico_pai {
  width: 300px;
  height: 300px;
  z-index: 1;
  position: relative;
  top: 130px;
}
